{% extends "base.html" %}
{% block content %}
<br>
<h1>{{attacker.name}}'s Turn</h1>

<div class="game-display-container">
    <br>
    
    <div class="duck-fighter-1">
        <br>
        <img src="\static\ducks\{{battle.duck_1.image}}" alt="" height="200" width="200" class="duck-image">
        
        <hr>
            <h2>{{battle.duck_1.name}}</h2>
            <hr>
            <h2>attack: {{battle.duck_1.attack}}</h2>
            <h2>defense: {{battle.duck_1.defense}}</h2>
            <h2>speed: {{battle.duck_1.speed}}</h2>
            <h2>health: {{battle.duck_1.health}}</h2>
        </div>
    
        <div class="duck-fighter-2">
            <br>
        <img src="\static\ducks\{{battle.duck_2.image}}" alt="" height="200" width="200" class="duck-image">

            
            <hr>
                <h2>{{battle.duck_2.name}}</h2>
                <hr>
                <h2>attack: {{battle.duck_2.attack}}</h2>
                <h2>defense: {{battle.duck_2.defense}}</h2>
                <h2>speed: {{battle.duck_2.speed}}</h2>
                <h2>health: {{battle.duck_2.health}}</h2>
        </div>
    </div>
  <br>
    
    
    <h2>{{attacker.name}} Choose an attack :</h2>
    <form action="/fight_club/battle/{{battle.id}}/register_second_attack" method="post">
        <div class="attack-container"> 
        
        {% for attack in attacker.attack_names_list %}
        <div class="attack">
            
            <button name="attack" id="{{attack}}" value="{{attack}}">{{attack}}</button>
        </div>
        {% endfor %}
        
        <input type="text" name="duck_id" value="{{attacker.id}}" hidden>
        
    </form>
</div>

{% endblock %}