{% extends "base.html" %}
{% block content %}
<br>
<h1>Welcome to :</h1>
<div class="display-class-card">

    <h2>
        {{gym_class.name}}
    </h2>
    <p>
        Finishing increases :
        {{gym_class.stat_up}}
    </p>
    <p>
        by :
        {{gym_class.stat_up_amount}}
    </p>
</div>
<hr>
{% if ducks_not_enroled|count < 1 %}
<h3>all ducks are enroled in this class</h3>
{% endif %}

{% if ducks_not_enroled|count > 0 %}
<h2>Enrol a duck</h2>
<form action="/add/duck_to_class" method = "post">
    <input type="text" value="gym_class/{{gym_class.id}}" name="origin" hidden>
    <input type="text" value="{{gym_class.id}}" name="gym_class_id" hidden>
    <select name="duck_id">
        {% for duck in ducks_not_enroled %}
        <option value="{{duck.id}}">{{duck.name}}</option>
        {% endfor %}
    </select>
    <button type="submit">Add duck to class</button>
</form>
{% endif %}
<hr>

{% if ducks_in_class | count < 1 %}
<h3>There are no ducks enroled in this class</h3>
{% endif %}

{% if ducks_in_class | count > 0 %}
<h2>Ducks enroled in class</h2>
<div class="duckery">
    {% for duck in ducks_in_class %}
    <div class="show-duck">
        <br>
        <img src=\static\ducks\{{duck.image}} alt="" height="150" width="150">

        <p>
            {{duck.name}} 
        </p>
        <div class="buttons">
            
            <form action="/duck_stats/{{duck.id}}">

            <button>View stats</button>
        </form>
        <form action="/duck/finish_class" method="post">
            <input type="text" value="gym_class/{{gym_class.id}}" name="origin" hidden>
            <input type="text" value="{{duck.id}}" name="duck_id" hidden>
            <input type="text" value="{{gym_class.id}}" name="class_id" hidden>
            <button type="submit">finish class</button>
        </div>
    </div>
        </form>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock %}