{% extends "base.html" %}
{% block content %}
<p>
    {{gym_class.name}}
</p>
<p>
    {{gym_class.stat_up}}
</p>
<p>
    {{gym_class.stat_up_amount}}
</p>
<h2>Enrol a duck</h2>
<form action="/add/duck_to_class" method = "post">
    <input type="text" value="gym_class/{{gym_class.id}}" name="origin" hidden>
    <input type="text" value="{{gym_class.id}}" name="gym_class_id" hidden>
    <select name="duck_id">
        {% for duck in ducks_not_enroled %}
        <option value="{{duck.id}}">{{duck.name}}</option>
        {% endfor %}
    </select>
    <button type="submit">Add duck to class</button>
</form>


<h2>Ducks enroled in class</h2>
{% for duck in ducks_in_class %}
<p>
    {{duck.name}}
</p>
<form action="/duck/finish_class" method="post">
    <input type="text" value="gym_class/{{gym_class.id}}" name="origin" hidden>
    <input type="text" value="{{duck.id}}" name="duck_id" hidden>
    <input type="text" value="{{gym_class.id}}" name="class_id" hidden>
    <button type="submit">finish class</button>
</form>
{% endfor %}
{% endblock %}