{% extends "base.html" %}
{% block content %}

<div class="all-gym-classes">
{% for gym_class in all_classes %}
<div class="show-gym-class">
    <h2>{{gym_class.name}}</h2>
    <h3>Increases {{gym_class.stat_up}} by:</h3>
    <h3>{{gym_class.stat_up_amount}}</h3>
    
    <div class="buttons">
        <form action="/gym_class/{{gym_class.id}}">
            <button>View gym class</button>
        </form>
    </div>
</div>
{% endfor %}
</div>
    <form action="/create_class">
    <button type="submit">Create new gym class</button>
</form>


{% endblock %}