{% extends "base.html" %}

{% block content %}
<h1>Duckery</h1>
<div class="duckery">
    {% for duck in all_ducks %}
    <div class="show-duck">
        <br>
        <img src={{duck.image}} alt="" height="150" width="150">
    
        <p>
            {{duck.name}} 
        </p>
        <form action="/duck_stats/{{duck.id}}">

            <button>View stats</button>
        </form>
    </div>
        {% endfor %}
</div>
    <form action="/create_duck">
    <button>Create duck</button>
</form>
{% endblock %}