
#color-1 {
    background-color: rgb(246, 174, 45);
}

#color-2 {
    background-color: rgb(248, 148, 18);  
}

#color-3 {
    background-color: rgb(55, 57, 58);  
}

#color-4 {
    background-color: rgb(73, 82, 131);
}

#color-5 {
    background-color: rgb(238, 252, 252);
}

body {
    margin: 0;
    text-align: center; 
    font-family: "Ubuntu";
    color: rgb(238, 252, 252);
    
}
h1 {
    margin: 0;
}

nav>a {
    margin-left: 30px;
    margin-right: 70px;
    color: white;
    text-decoration: none;
}

button {
    border-radius: 10px;
}

#top-menu-bar {
    background-color: rgb(73, 82, 131);
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: rgb(248, 148, 18);
}

#page-container {
    position: relative;
    min-height: 100vh;
    background-color: rgb(55, 57, 58); 
}

#content-wrap {
    width: 95%;
    margin-left: 2.25%;
    margin-bottom: 5%;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(248, 148, 18);
    
    
    background-color: rgb(73, 82, 131);
    padding-bottom: 3rem; 
}

.duck-image {
    border-radius: 25px;
}

.edit-duck-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60%;
    margin-left: 20%
}



.duckery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin: 5px;
}

.show-duck {
    height: 250px;
    border-style: solid;
    border-radius: 12px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.all-gym-classes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin: 5px;
}

.show-gym-class {
    height: 180px;
    border-style: solid;
    border-radius: 12px;
}

.duck-stats-parent { 
    display: flex;
    justify-content: space-evenly;
}

.duck-stats {
    background-color: rgb(246, 174, 45);
    border-radius: 5px;
    width: 25%;
    height: 10%;
    margin-top: 15px;

}

.stat-table {
    justify-content: space-around;
    padding: 5px;
    width: 420px;
}

.stat-name{
    text-align: left;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 5px;
}

.stat-amount {
    width: 120px;
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: right;
}

.duck-attacks {
    background-color: rgb(246, 174, 45);
    border-radius: 5px;
    width: 25%;
    height: 10%;
    margin-top: 15px;
}

.attack-table {
    justify-content: space-around;
    padding: 5px;
}

.attack-name{
    text-align: left;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 5px;
}
.attack-power {
    width: 120px;
    margin-top: 9px;
    margin-bottom: 9px;
    text-align: right;
}

.duck-name {
    text-align: left;
    padding: 10px;
    margin-left: 135px
}

.display-class-card {
    margin-top: 20px;
    border-radius: 6px;
    margin-left: 40%;
    width: 20%;
    padding: 2px;
    background-color: rgb(246, 174, 45);

}

#first-rule-of-fight-club {
    width: 420px;
}


.fight-club-links {
    display: flex;
    justify-content: space-evenly;
}

.game-display-container {
    height:800px;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(55, 57, 58); 
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}


.duck-fighter-1{
    margin-right: 11%;
    margin-top: 150px;
    height: 510px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(246, 174, 45);
}

.duck-fighter-2{
    margin-right: 11%;
    margin-top: 150px;
    height: 510px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(246, 174, 45);
}

.attack-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    width: 25%;
    margin-left: 36%;
}




























#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(73, 82, 131);
    height: 3rem; 
    border-top-style: solid;
    border-width: 3px;
    border-color: rgb(248, 148, 18);
}