{% extends "base.html" %}
{% block content %}
<h1>Duck Fight gym </h1>
    <h3>
        (fight club)
    </h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <h1>Project by : Thomas Britton</h1>
        

    <br>
    <br>
    <br>
    <br>


<h1>Bits of the code I'm proud of =) </h1>
<br>
<br>
<br>
<br>
<img src="/static/Screenshot 2022-08-25 at 10.48.28.png" alt="">
<br>
<br>
<br>
<br>
<img src="/static/Screenshot 2022-08-25 at 10.50.35.png" alt="">

<br>
<br>
<br>
<h2>which is the equivalent to this </h2>
<br>
<br>
<br>

<img src="/static/Screenshot 2022-08-25 at 10.54.45.png" alt="">




<br>
<br>
<br>
<h2>Thank you for your time =)</h2>
<br>
<h2>Any questions? Quack?</h2>
<br>



{% block loop %}


{% endblock %}



</form>
{% endblock %}