{% extends "base.html" %}
{% block content %}
<br>
<h1>Wellcome to duck fight club quack!</h1>
<hr>
<div>
    <form action="/fight_club/battle/select_combatants">
        <button type="submit">Start a battle</button>
    </form>
</div>

    <hr>

<div class="fight-club-links">

    <div>
        <form action="/fight_club/fight_log">
            <button type="submit">View fight log</button>
        </form>
    </div>
 
<div>

        
    <form action="/fight_club/battles" method="post">
        <button type="submit">view battles from :</button>
        <select name="duck" id="">
            {% for duck in all_ducks %}
            <option value="{{duck.id}}">
                {{duck.name}}
            </option>
            {% endfor %}
        </select>
        
</span>

</div>

</div>
{% endblock %}