{% extends "base.html" %}
{% block content %}
<h2>Finished battles</h2>
{% for battle in all_battles_finished %}
<form action="/fight_club/battle/{{battle.id}}/delete" method="post">
    <p>{{battle}}</p>
    <button type="submit">delete battle</button>
</form>
{% endfor %}
<h2>ongoing battles</h2>
{% for battle in all_battles_ongoing %}
<form action="/fight_club/battle/{{battle.id}}/delete" method="post">
    <p>{{battle}}</p>
    <button type="submit">delete battle</button>
</form>
{% endfor %}
{% endblock %}